html, body {
  height: 100%;
}
body {
  background-color: #eaeaea;
}
h1 {
  color: #444;
}

.search-results {
  margin-top: 40px;
}
.itunes-logo {
  position: absolute;
  bottom: 40px;
  left:0;
  right:0;
  text-align: center;
  margin: 0 auto;
}